  @media screen and (min-width: 420px) and (max-width: 610px)
  {
    .title_super
    {
      font-size: 400%;
    }
    .nameHeader
    {
      font-size: 85%;
    }
    .github, .linkedin, .resume, .email
    {
      line-height: 60px;
      font-size: 2em;
      padding-top: 5px;
    }
    .cover_letter
    {
      font-size: 120%;
      line-height: 30px;
    }
  }

  @media screen and (min-width: 610px) and (max-width: 767px)
  {
    .title_super
    {
      font-size: 600%;
    }
    .nameHeader
    {
      font-size: 100%;
    }
    .github, .linkedin, .resume, .email
    {
      line-height: 60px;
      font-size: 1.8em;
    }
  }

  @media screen and (min-width: 610px)
  {
    .codyPic
    {
      display: block;
      width: 34%;
      margin-left: 5%;
      margin-right: 2.5%;
      border: 3px solid #F5F5F5;
    }
    .cover_letter
    {
      width: 51%;
      margin-right: 5%;
      margin-left: 2.5%;
      line-height: 30px;
      font-size: 115%;
      background-color: unset;
    }
    .github, .linkedin, .resume, .email
    {
      line-height: 50px;
      font-size: 2.2em;
      padding-top: 8px;
    }
  }

  @media screen and (min-width: 767px) and (max-width: 991px)
  {
	  #prlx_lyr_1
	  {
	    width: 750px;
	  }
    .title_super
    {
      font-size: 800%;
      padding-top: 16vw;
    }
    .nameHeader
    {
      font-size: 120%;
    }
    .github, .linkedin, .resume, .email
    {
      line-height: 60px;
      font-size: 2.6em;
    }
	}

	@media screen and (min-width: 991px) and (max-width: 1200px)
	{
	  #prlx_lyr_1
	  {
	    width: 970px;
	  }
	  .title_super
    {
      padding-top: 18vw;
      font-size: 900%;
    }
    .cover_letter
    {
      font-size: 110%;
    }
    .nameHeader
    {
      font-size: 140%;
    }
    .github, .linkedin, .resume, .email
    {
      line-height: 60px;
      font-size: 3em;
    }
    .cover_letter
    {
      font-size: 150%;
      line-height: 40px;
    }
	}

	@media screen and (min-width: 1200px)
	{
	  #prlx_lyr_1
	  {
	    width: 1170px;
	  }
    .title_super
    {
      padding-top: 18vw;
      font-size: 1000%;
    }
    .cover_letter
    {
      font-size: 180%;
      line-height: 50px;
    }
    .nameHeader
    {
      font-size: 200%;
    }
    .github, .linkedin, .resume, .email
    {
      line-height: 70px;
      font-size: 3.4em;
      padding-top: 10px;
    }
	}