    html, body
    {
      margin:0;
      padding:0;
      background-color: #F5F5F5;
    }

    .container
    {
      padding: 0;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      position:relative;
    }

    .nameHeader
    {
      padding-top: 1%;
      padding-left: 2%;
      color: white;
      font-family: 'Josefin Slab', serif;
      font-size: 70%;
    }

    .title_super
    {
      padding-top: 12vw;
      text-align: center;
      text-shadow: 0 0 10px #000;
      font-size: 200%;
      color: White;
      letter-spacing: 4px;
    }

    .parallaxHeader
    {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }

    #prlx_lyr_1
    {
      position: relative;
      background: url(../images/topBanner.jpg) no-repeat;
      background-size: 100%;
      width: 100%;
      height: 100%;
    }

    .nav_bar
    {
      width: 100%;
      padding-top: 0.3vh;
      padding-bottom: 0.4vh;
    }

    nav
    {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
    }

    a
    {
      background-color: black;
      color: white;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 50px;
      margin-top: 1.5px;
      padding-top: 3px;
      text-align: center;
      min-height: 50px;
      vertical-align: middle;
      padding-bottom: 5px;
    }

    .resume
    {
      margin-right: 0.3%;
      width: 64.4%;

    }

    .github
    {
      margin-left: 0.3%;
      width: 35%;
    }

    a:hover
    {
      color: black;
      background-color: white;
    }

    section
    {
      height: 100%;
    }

    .description
    {
      margin: 0;
      padding: 0;
      width: 100%;
      position: relative;
      background-color: #ffffff;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      z-index: 1;
    }

    .codyPic
    {
      display: block;
      width: 66%;
      height: 66%;
      margin-left: 17%;
      margin-right: 17%;
      margin-top: 5vw;
      border: 3px solid #F5F5F5;
    }

    .cover_letter
    {
      width: 84%;
      margin-right: 8%;
      margin-left: 8%;
      margin-top: 5vw;
      margin-bottom: 5vw;
      text-align: justify;
      line-height: 25px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 85%;
      background-color: #F5F5F5;
      padding: 8px;
    }

    footer
    {
      width: 100%;
      position: relative;
      background-color: #F5F5F5;
    }

    #prlx_lyr_2
    {
      position: relative;
    }

    .linkedin
    {
      margin-right: 0.3%;
      width: 35%;
    }

    .email
    {
      width: 64.4%;
      margin-left: 0.3%;
    }

    .foot_banner
    {
      width: 100%;
      max-height: 100%;
    }

    #contact-area
    {
      width: 100%;
      margin-top: 25px;
    }

    #contact-area input, #contact-area textarea
    {
      padding: 5px;
      width: 100%;
      font-family: Helvetica, sans-serif;
      font-size: 1.4em;
      margin: 0px 0px 10px 0px;
      border: 2px solid #ccc;
    }

    #contact-area textarea
    {
      height: 90px;
      width: 100%;
    }

    #contact-area textarea:focus, #contact-area input:focus
    {
      border: 2px solid #900;
    }

    #contact-area input.submit-button
    {
      width: 100px;
      float: right;
    }

    label
    {
      float: left;
      text-align: left;
      margin-right: 5px;
      padding-top: 5px;
      font-size: 1.4em;
    }

    .modal-header
    {
      display: flex;
    }

    .modal-title
    {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: x-large;
      letter-spacing: 2px;
    }

    .closeButton
    {
      position: absolute;
      right: 3%;
      top: -10px;
      color: grey;
      font-size: 40px;
      font-weight: bold;
      transition: 0.2s;
      padding: 10px;
    }
    .closeButton:hover
    {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
